*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
      background-color: aliceblue;
  }
  
  nav {
      background-color: aqua;
  }
  nav li {
      background-color: rgb(255, 255, 255);
      border: 1px solid black;
      border-radius: 5px;
      margin: 5px;
      
  }

  nav li a:hover {
    color: black;
    background-color: dodgerblue;
  }
  
  nav ul {
      display: flex;
      align-items: center;
      margin: 10px;
      padding: 10px;
      font-size: 10px;
      list-style: none;
  }
  nav ul li a {
      text-decoration: none;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      padding: 10px;
      color: black;
      float: right;
  }
  
  .navbar{
      display: flex;
      justify-content: space-between;
  }
  
  
  nav div img {
      width: 70px;
      height: 70px;
      margin: 5px;
  }

  
  h2 {
    margin-top:40px;
    color: red;
    font-family: Arial;
  }
  
  h3{
    margin-top: 35px;
  }
  p {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
  }
  dropdown-content {
      position: static;
      display: none;
      }
      .dropdown-content li {
      display: block;
      }
      .dropdon:hoper .dropdown-content{
      display: block;
      }